@import '../variables';

.deb__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  background: linear-gradient(rgba(102, 0, 153, 0.5) 30%, rgb(102, 0, 153)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/Atlas_no.1-intercellular_1.jpg");
  height: 100vh;
}

.deb__bg__main {
  background: linear-gradient(rgb(102, 0, 153) 30%, rgba(102, 0, 153, 1));
}

@media screen and (max-width: 576px) {
  .deb__bg__image {
    height: 80vh !important;
  }
}
