@import '../variables';

#bg__image__test {
  background-size: cover;
  // min-height: 20vh;
  width: 100%;
  background-position: center center;
  background-size: cover !important;
  background: linear-gradient(rgba(102, 0, 153, 0.5) 30%, rgb(102, 0, 153)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/811-st-charles.jpg");
}

#bug__image__test h1 {

}
.some-container {
  background: linear-gradient(rgb(102, 0, 153) 30%, rgba(102, 0, 153, 1));
  min-height: 80vh;
  margin-top: 0px;
  margin: 0;
}

.some-container h1 {
  margin: 0;
}

.box-1 {

}

.heritage__bg__image {
  background-size: cover;
  background: linear-gradient(rgba(102, 0, 153, 0.5) 30%, rgb(102, 0, 153)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/811-st-charles.jpg");
  width: 100%;
  min-height: 100vh;
  background-position: 50% 0;
}

.heritage__bg__main {
  background: linear-gradient(rgb(102, 0, 153) 30%, rgba(102, 0, 153, 1));
  min-height: 100vh;
}

/* TODO: FIXED MOBILE OVERFLOW BUG */

@media screen and (max-width: 1160px) {
  .heritage__bg__main {
    min-height: 110vh;
  }
}

@media screen and (max-width: 1140px) {
  .heritage__bg__main {
    min-height: 110vh;
  }
}

@media screen and (max-width: 1100px) {
  .heritage__bg__main {
    min-height: 110vh;
  }
}

@media screen and (max-width: 1055px) {
  .heritage__bg__main {
    min-height: 120vh;
  }
}

@media screen and (max-width: 1015px) {
  .heritage__bg__main {
    min-height: 115vh;
  }
}

@media screen and (max-width: 992px) {
  .heritage__bg__main {
    min-height: 115vh;
  }
}

@media screen and (max-width: 900px) {
  .heritage__bg__main {
    min-height: 115vh;
  }
}

@media screen and (max-width: 825px) {
  .heritage__bg__main {
    min-height: 120vh;
  }
}

@media screen and (max-width: 788px) {
  .heritage__bg__main {
    min-height: 125vh;
  }
}

@media screen and (max-width: 768px) {
  .heritage__bg__main {
    min-height: 120vh;
  }
}

@media screen and (max-width: 700px) {
  .heritage__bg__main {
    min-height: 120vh;
  }
}

@media screen and (max-width: 576px) {
  .heritage__bg__main {
    min-height: 115vh;
  }
}

@media screen and (max-width: 515px) {
  .heritage__bg__main {
    min-height: 125vh;
  }
}

@media screen and (max-width: 500px) {
  .heritage__bg__main {
    min-height: 120vh;
  }
}


@media screen and (max-width: 450px) {
  .heritage__bg__main {
    min-height: 130vh;
  }
}
