/*
###########################
            Mixins & Variables
###########################
*/

@mixin transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  transition: $x;
}

@mixin border-radius($x) {
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  border-radius: $x;
}

/* NAVIGATION */
$side-nav: #372e42;
$side-nav-link-hover: #52b2a6;
$slide-nav-text-color: #fff;
$slide-nav-alt-color: black;


/* HOME */

/* ABOUT */
$main-about-color: #036cdb;
$about-text-color: #fff;
/* WORK */
$main-work-color: #fff;
$work-text-color: #036cdb;

/* PROJECTS */
$main-project-color: #fff;
$project-text-color: #036cdb;

/* CONTACT */
$main-contact-color: #fff;
$contact-text-color: #036cdb;

/* FOOTER MAIN */
$main-footer-color: #fff;
