/*
###########################
            Mixins & Variables
###########################
*/

@mixin transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  transition: $x;
}

@mixin border-radius($x) {
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  border-radius: $x;
}

/* NAVIGATION */
$side-nav: #372e42;
$side-nav-link-hover: #52b2a6;
$slide-nav-text-color: #fff;
$slide-nav-alt-color: black;


/* HOME */
$main-color: rgb(32,185,160);
$main-color-tint: rgb(223,249,245);

$secondary-color: rgb(253,77,122);
$secondary-color-tint: rgb(255,232,238);

$third-color: rgb(65,132,243);
$third-color-tint: #e7f7ff;

$header-text-dark-color: #5c5c5c;
$supporting-text-dark-color: #787f8c;

/* ABOUT */
$main-about-color: #036cdb;
$about-text-color: #fff;
/* WORK */
$main-work-color: #fff;
$work-text-color: #036cdb;

/* PROJECTS */
$main-project-color: #fff;
$project-text-color: #036cdb;

/* CONTACT */
$main-contact-color: rgb(32,185,160);
$contact-text-color: #fff;

/* FOOTER MAIN */
$main-footer-color: rgb(32,54,71);
