/*
###########################
            Mixins & Variables
###########################
*/

@mixin transition($x) {
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  transition: $x;
}

@mixin border-radius($x) {
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  border-radius: $x;
}

/* NAVIGATION */
$side-nav: #fff;
$side-nav-link-hover: #fff;
$slide-nav-text-color: rgb(32,185,160);
$slide-nav-alt-color: rgb(92,92,92);



/* HOME */
$home-main-background-color: #000;
$home-button-after-color: #191414;

$main-color: rgb(96, 30, 215);
$main-color-tint: rgba(96, 30, 215, 0.5);

$secondary-color: rgb(30, 57, 215);
$secondary-color-tint: rgba(30, 57, 215, 0.5);

$third-color: rgb(189,30,215);
$third-color-tint: rgba(180, 79, 255, 0.5);

$fourth-color: rgb(30, 215, 96);
$fourth-color-tint: rgba(30, 215, 96, 0.5);

$fifth-color: rgb(215, 96, 30);
$fifth-color-tint: rgba(215, 96, 30, 0.5);

$header-text-dark-color: #5c5c5c;
$supporting-text-dark-color: #787f8c;

/* ABOUT */
$main-about-color: rgb(65,132,243);
$about-text-color: #fff;
/* WORK */
$main-work-color: #fff;
$work-text-color: $secondary-color;

/* PROJECTS */
$main-project-color: #fff;
$project-text-color: $fifth-color;

/* CONTACT */
$main-contact-color: rgb(32,185,160);
$contact-text-color: #fff;

/* FOOTER MAIN */
$main-footer-color: rgb(32,54,71);
