@import 'variables';

#about__container {
  display: flex;
  flex-direction: column;
  background: $main-about-color;
  min-height: 100vh;
  padding: 0 15% 0 15%;
}

#about__container h1 {
  color: $about-text-color;
  font-size: 4em;
  text-align: left;
  margin-top: 30vh;
  text-shadow: 0 0 40px rgba(0,0,0, 0.2);
}

.about__hero__container {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}

// .about__hero__container span {
//   color: $about-text-color;
//   font-weight: normal;
//   font-size: 18px;
//   border-bottom: 1px solid;
// }

.about__hero__container h3 {
  color: $about-text-color;
  padding: 0 20px 20px 0;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.about__hero__container > div:nth-child(3) > h3 {
  margin-bottom: -20px;
}

.about__hero__container > div:nth-child(3) > h3:last-child {
  margin-bottom: 0px;
}

.about__hero__container div:nth-child(3) form {
  padding: 0px;
}

/***********
    COLUMNS
***********/
.col-left {
  width: 50%;
  margin-top: 0px;
  z-index: 1;
  padding-right: 12px;
}

.col-right {
  width: 50%;
  z-index: 1;
}





/******************* MEDIA QUERIES *************/

@media screen and (max-width: 992px) {
  #about__container h1 {
     font-size: 2.8em;
   }
   #about__container h1 {
     font-size: 3em;
   }
   #about__container {
     padding: 0 10% 5% 10%;
   }
}

@media screen and (max-width: 768px) {
  #about__container h1 {
     font-size: 2.2em;
   }
   .col-left, .col-right {
     width: 100%;
   }
}

@media screen and (max-width: 576px) {
  #about__container h1 {
     font-size: 2em;
   }
  #about__container {
    padding: 0 1% 5% 5%;
  }
}
