@import 'variables';

#contact__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 15% 0 15%;
  background: $main-contact-color;
}

#contact__container h1 {
  color: #fff;
  font-size: 4em;
  text-align: left;
  margin-top: 25vh;
  text-shadow: 0 0 40px rgba(0,0,0, 0.2);
}

.contact__hero__container {
  // padding-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.contact__hero__container span {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid;
}

.contact__hero__container a {
  padding-bottom: 22%;
}

.contact__hero__container h3 {
  color: #fff;
  padding: 0 20px 20px 0;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.contact__hero__container > div:nth-child(3) > h3 {
  margin-bottom: -20px;
}

.contact__hero__container > div:nth-child(3) > h3:last-child {
  margin-bottom: 0px;
}

.contact__hero__container div:nth-child(3) form {
  padding: 0px;
}

/***********
    COLUMNS
***********/
.col-left {
  width: 50%;
  margin-top: 0px;
  z-index: 1;
  padding-right: 12px;
}

.col-right {
  width: 50%;
  z-index: 1;
}


input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  outline: none;
  font-family: iosevka, monospace;
  font-size: 18px;
  background-color: transparent;
  position: relative;
  padding: 12px 15px;
  border: 1px solid;
  margin-bottom: -1px;
  @include transition(all 0.3s ease-in-out);
  color: inherit;
  opacity: 0.4;
  color: #fff;
}

input:focus, textarea:focus {
  background: #fff;
  transform: scale(1.01);
  color: $main-contact-color;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}


input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: $main-contact-color;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: $main-contact-color;
}

input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
    color: $main-contact-color;
}

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    color: $main-contact-color;
}


textarea {
  padding-bottom: 140px;
  margin-bottom: 5px;
}

.contact__button {
  background-color: transparent;
  color: #fff;
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 8px 25px 8px 35px;
  transition: 0.2s;
  cursor: pointer;
  @include transition(all 0.4s ease-in-out);
  &:hover {
    background: #fff;
    color: $main-contact-color;
  }
}


/******************* MEDIA QUERIES *************/

@media screen and (max-width: 992px) {
  #contact__container h1 {
     font-size: 2.8em;
   }
   #contact__container h1 {
     font-size: 3em;
   }
   #contact__container {
     padding: 0 10% 5% 10%;
   }
}

@media screen and (max-width: 768px) {
  #contact__container h1 {
     font-size: 2.2em;
   }
   .col-left, .col-right {
     width: 100%;
   }
}

@media screen and (max-width: 576px) {
  #contact__container h1 {
     font-size: 2em;
   }
  #contact__container {
    padding: 0 1% 5% 5%;
  }
}
