.footer__container {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}


.footer__container > p {
  text-align: left;
  display: inline-block;
  color: black;
  float: left;
  margin: 0;
  padding-top: 10px;
}

.footer__container > a {
  text-align: right;
  display: inline-block;
  color: black;
  font-size: 2em;
  padding-left: 18px;
  float: right;
  order: 2;
  align-self: flex-end;
}
