@import 'variables';

.footer__container {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 100px;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
}


.footer__container > p {
  text-align: left;
  display: inline-block;
  color: $main-footer-color;
  float: left;
  margin: 0;
  padding-top: 10px;
}

.footer__container > a {
  text-align: right;
  display: inline-block;
  color: $main-footer-color;
  font-size: 2em;
  padding-left: 18px;
  float: right;
  order: 2;
  align-self: flex-end;
  @include transition(all 0.3s ease-in-out);
  &:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
 }
}
