/*
#########################################
            Home Component 🏚
#########################################
*/

@import 'variables';


/* to get rid of flash, make last color === first color */
@-webkit-keyframes pulseBackground {
  0% { background: #f44336 }
  // 244, 67, 54
  25% { background: #e91e63 }
  // 233, 30, 99
  50% { background: #9c2780 }
  // 156, 39, 128
  75% { background: #673ab7 }
  //	103, 58, 183
  100% { background: #f44336 }
  // 244, 67, 54
}

@keyframes pulseBackground {
  0% { background: #f44336 }
  25% { background: #e91e63 }
  50% { background: #9c2780 }
  75% { background: #673ab7 }
  100% { background: #f44336 }
}


/*
##################################################
            I wanna be a real container 🤘🏻
#################################################
*/


#home__container {
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100vh;
  // background-position: 50% 95%;
  -webkit-animation: pulseBackground 30s infinite;
  animation: pulseBackground 30s infinite;
  // padding: 0 15% 0 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.section-hero {
  overflow: hidden;
}

.section {
  position: relative;
}

#hero {
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 15%;
  position: relative;

}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#hero__content {
  padding: 0 15% 0 15%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  position: relative;
}
#hero__content h1 {
  color: #fff;
  font-size: 4em;
  text-align: left;
  margin-top: 30vh;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.15) !important;

}

#hero__content h2 {
  color: #fff;
  font-size: 1.8em;
  text-align: left;
  padding-bottom: 12px;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.15) !important;
}

.span__underline {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  border-bottom: 1px solid;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.15) !important;
  z-index: 99;
}

/****************** HOME MAIN *******************/

#home__main {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  // border-top: 2px solid rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  padding: 5% 15% 7.5% 15%;
  justify-content: space-between;
}

#home__main > div:first-child {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

#home__main > div:first-child h3 {
  color: #fff;
}

#home__main h2, h3 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
/***************
    BOXES
***************/

.col-left__home, .col-center__home, .col-right__home {
  border: 2px solid rgba(255, 255, 255, 0.15);
  padding: 60px 30px 10px;
  color: #fff;
  text-align: center;
}

.fa {
  color: #fff;
  z-index: 99;
}


/***************
    ICONS inside the boxes
***************/



#home__main .fa {
  font-size: 5em;
  margin-bottom: 12px;
}

/*****************
    HOME WORK/PROJECTS
*****************/

#home__work {
  padding: 0 15% 5% 15%;
  /* patch FontAwesome glitch bug */
  z-index: 99;
}

#home__work > div {
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
}

#home__work h2 {
  font-size: 1.5em;
  margin-top: 36px;
  margin-bottom: 22px;
}

#home__work a {
  font-size: 2em;
}

#home__work p {
  margin-top: -2px;
}

#home__work .fa {
  font-size: .5em;
}


/******************* MEDIA QUERIES *************/
@media screen and (max-width: 992px) {
   #home__container h1 {
     font-size: 3em;
   }
   #hero__content h2 {
     font-size: 1.4em;
   }
   #hero__content, #home__main, #home__work {
     padding: 0 10% 5% 10%;
   }
}

@media screen and (min-width: 800px) {
  .col-left__home, .col-center__home, .col-right__home {
    width: calc(33% - 5px) !important;
  }
}

@media screen and (max-width: 768px) {
  #home__container h1 {
     font-size: 2.2em;
   }
   .col-left, .col-right {
     width: 100%;
   }
   .col-left__home, .col-center__home, .col-right__home {
     width: 100%;
     margin-bottom: 12px;
   }
}

@media screen and (max-width: 576px) {
  #home__container h1 {
     font-size: 2em;
   }
  #hero__content, #home__main, #home__work {
    padding: 0 5% 5% 5%;
   }
}
