@import 'variables';

// .work {
//   position: relative;
//   top: -150px;
//   padding-top: 150px;
//   margin-bottom: -200px;
//   background-size: cover;
//   background-position: center center;
//   z-index: 21;
//   background-image: url("http://cdn.iflscience.com/images/a7f5613f-19f7-57aa-8b90-77e4435ba806/content-1503411941-gettyimages-836330180.jpg");
// }

.gant {
  width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 30%, rgb(0, 188, 108));
}

.bg {
  background-size: cover;
  background-position: center center;
  background: linear-gradient(rgba(0, 188, 108, 0.5) 30%, rgb(0, 188, 108)),
    url("../yuacatan_1.png");
  width: 100%;
  height: 100vh;
}

.bg-2 {
  background-size: cover;
  background-position: center center;
  background: linear-gradient(rgb(0, 188, 108) 30%, rgba(0, 188, 108, 1)),
    url("http://d32v08bhbowe2n.cloudfront.net/assets/yuacatan-2dd361c202f90c899e9165ec06abde9119912548ed10f7bee716b118b753a5fd.jpg");
  width: 100%;
  height: 100vh;
}
