@import 'variables';

.prof__bg__image {
  background-size: cover;
  background-position: center center;
  background: linear-gradient(rgba(0, 188, 108, 0.5) 30%, rgb(0, 188, 108)),
    url("../yuacatan_1.png");
  width: 100%;
  min-height: 100vh;
}

.prof__bg__main {
  background: linear-gradient(rgb(0, 188, 108) 30%, rgba(0, 188, 108, 1));
  min-height: 100vh;
}
