/*
#########################################
            Nav
#########################################
*/
@import 'variables';

#logo {
  font-family: 'Megrim', cursive;
  top: 5%;
  left: 15%;
  // margin-top: 0;
  font-size: 3em;
  position: absolute;
  color: $slide-nav-text-color;
  z-index: 3;
}
#menuToggle {
  display: block;
  z-index: 99;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 3%;
  right: 15%;
}


@media screen and (max-width: 992px) {
  #menuToggle {
    right: 10%;
    // position: fixed;
  }
  #logo {
    left: 10%;
  }
}

@media screen and (max-width: 768px) {
  #menuToggle {
    right: 10%;
    position: fixed;
  }
  #logo {
    left: 10%;
  }
}

@media screen and (max-width: 576px) {
  #menuToggle {
    right: 5%;
    position: fixed;
  }
  #logo {
    left: 5%;
  }
}


.slide-nav__open {
  background: transparent;
  border: none;
  z-index: 9999 !important;
}

.slide-pane__content {
  list-style: none;
  background: $side-nav;
}

.slide-pane__content li {
  font-size: 1.5em;
  color: $slide-nav-text-color;
  line-height: 2.5em;
  @include transition(all 0.3s ease-in-out);
  &:hover {
    color: $side-nav-link-hover;
  }
}

.slide-pane__content .fa {
  color: $side-nav-link-hover;
  padding-top: 32px;
  font-size: 2.5em;
  letter-spacing: 22px;
  @include transition(all 0.3s ease-in-out);
  &:hover {
    color: $slide-nav-text-color;
  }
}

.slide-pane__header {
  background: $side-nav;
  border: none;
}

.slide-pane__close {
  margin-top: 45px;
  color: $slide-nav-text-color;
  @include transition(all 0.3s ease-in-out);
  &:hover {
    color: $side-nav-link-hover;
  }
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: $slide-nav-text-color !important;
    margin: 6px 0;
}


button:focus {
  outline:0;
}

.slide-pane__overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    z-index: 9999 !important;
}

.ReactModal__Content--after-open {
  width: 300px !important;
}


/******************
   ALT COLOURS
******************/

.hamburger-alt {
    width: 35px;
    height: 5px;
    background-color: $slide-nav-alt-color;
    margin: 6px 0;
}

@media screen and (max-width: 768px) {
  .slide-nav__open {
    background: $side-nav-link-hover;
    border: none;
  }
}

@media screen and (max-width: 576px) {
  .slide-nav__open {
    background: $side-nav-link-hover;
    border: none;
  }
}

#logo-alt {
  font-family: 'Megrim', cursive;
  top: 5%;
  left: 15%;
  // margin-top: 0;
  font-size: 3em;
  position: absolute;
  color: $slide-nav-alt-color;
  z-index: 3;
}
