/*
#########################################
            Nav
#########################################
*/
@import 'variables';

#logo {
  font-family: 'Megrim', cursive;
  top: 5%;
  left: 15%;
  font-size: 3em;
  position: absolute;
  color: #fff;
  z-index: 3;
  @include transition(all 0.3s);
  &:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}
#menuToggle {
  display: block;
  z-index: 99;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
  top: 3%;
  right: 15%;
}


@media screen and (max-width: 992px) {
  #menuToggle {
    right: 10%;
  }
  #logo, #logo-alt {
    left: 10% !important;
  }
}

@media screen and (max-width: 768px) {
  #menuToggle {
    right: 10%;
    position: fixed;
  }
  #logo, #logo-alt {
    left: 10% !important;
  }
}

@media screen and (max-width: 576px) {
  #menuToggle {
    right: 5%;
    position: fixed;
  }
  #logo, #logo-alt {
    left: 5% !important;
  }
}


.slide-nav__open {
  background: transparent;
  border: none;
  z-index: 9999 !important;
}

/************
 NAV CONTENT
*************/
.slide-pane__content {
  list-style: none;
  background: $side-nav;
  padding: 0;
  text-align: left;
  margin-top: 28px;
}

.slide-pane__content li {
  font-size: 1.7em;
  line-height: 2.5em;
  padding-left: 40px;
}

.nav__icons {
  padding-left: 40px;
}

@media screen and (min-width: 576px) {
  #menuToggle, #logo, #logo-alt {
    display: none;
  }
}


/*********************
 li colors
***********************/

/*********
  1st child
*************/
.slide-pane__content .nav__item:nth-child(1) li {
  color: $fourth-color;
}

.slide-pane__content .nav__item:nth-child(1) li:hover {
  @include transition(all 0.2s);
  background: $fourth-color-tint !important;
}

/*********
  2nd child
*************/
.slide-pane__content .nav__item:nth-child(2) li {
  color: $third-color;
}

.slide-pane__content .nav__item:nth-child(2) li:hover {
  @include transition(all 0.2s);
  background: $third-color-tint;
}

/*********
  3rd child
*************/
.slide-pane__content .nav__item:nth-child(3) li {
  color: $secondary-color;
}

.slide-pane__content .nav__item:nth-child(3) li:hover {
  @include transition(all 0.2s);
  background: $secondary-color-tint;
}

/*********
  4th child
*************/
.slide-pane__content .nav__item:nth-child(4) li {
  color: $fifth-color;
}

.slide-pane__content .nav__item:nth-child(4) li:hover {
  @include transition(all 0.2s);
  background: $fifth-color-tint;
}

/*********
  5th child
*************/
.slide-pane__content .nav__item:nth-child(5) li {
  color: $main-contact-color;
}

.slide-pane__content .nav__item:nth-child(5) li:hover {
  @include transition(all 0.2s);
  background: $main-color-tint;
}


.slide-pane__content .fa {
  color: $header-text-dark-color;
  padding-top: 32px;
  font-size: 2.5em;
  letter-spacing: 22px;
  @include transition(all 0.3s ease-in-out);
  &:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: $main-contact-color;
 }
}

.slide-pane__header {
  background: $side-nav;
  border: none;
}

.slide-pane__close {
  margin-top: 45px;
  color: $header-text-dark-color;
  @include transition(all 0.3s ease-in-out);
  &:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
 }
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: #fff !important;
    margin: 6px 0;
}


button:focus {
  outline:0;
}

.slide-pane__overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    z-index: 9999 !important;
}

.ReactModal__Content--after-open {
  width: 300px !important;
}


/******************
   ALT COLOURS
******************/

.hamburger-alt {
    width: 35px;
    height: 5px;
    background-color: $slide-nav-alt-color;
    margin: 6px 0;
}

@media screen and (max-width: 768px) {
  .slide-nav__open {
    background: $main-color;
    border: none;
  }
}

@media screen and (max-width: 576px) {
  .slide-nav__open {
    background: $main-color;
    border: none;
  }
}

#logo-alt {
  font-family: 'Megrim', cursive;
  top: 5%;
  left: 15%;
  // margin-top: 0;
  font-size: 3em;
  position: absolute;
  color: $slide-nav-alt-color;
  z-index: 3;
  @include transition(all 0.3s);
  &:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
}
