@import '../variables';

.green-eats__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background: linear-gradient(rgba(102, 0, 153, 0.5) 30%, rgb(102, 0, 153)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/green-eats-large.jpg");
  background-position: 50% 95%;
}

.green-eats__bg__main {
  background: linear-gradient(rgb(102, 0, 153) 30%, rgba(102, 0, 153, 1));
}
