@import '../variables';

.green-eats__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background: linear-gradient(rgba(32, 185, 160, 0.5) 30%, rgb(32, 185, 160)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/green-eats-large.jpg");
  background-position: 50% 95%;
}

.green-eats__bg__main {
  background: linear-gradient(rgb(32, 185, 160) 30%, rgba(32, 185, 160, 1));
}

.green-eats__hero__container {
  background: linear-gradient(rgb(32, 185, 160) 30%, rgba(32, 185, 160, 1));
}

@media screen and (max-width: 576px) {
  .green-eats__bg__image {
    height: 80vh !important;
  }
}
