@import '../variables';

#project__container {
  min-height: 100%;
  background: #e5eeff;
  padding: 13% 15% 5% 15%;
}

#project__container h1 {
  color: #0032d2;
  font-size: 4em;
  margin-top: 0;
  padding: 0% 0 5% 0%;
}

.gallery {
  margin: auto;
  max-width: 1150px;
}

.responsive-image {
  max-width: 100%;
  min-height: 100%;
}


.cell {
  background: transparent;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  border: 1px solid rgba(0,0,0,.09);
  @include border-radius(5px);
  margin-bottom: 1px;
  padding: 0px;
  @include transition(all 0.4s ease);
  &:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
  }
  .scale {
    width: 100%;
    height: 400px;
    @include transition(all 0.3s ease-out);
    &:hover {
      transform: scale(1.0425);
      z-index: 2;
    }
  }
}


.project-image-1 {
  background:
    linear-gradient(
    rgba(0,188,108, 0.6),
    rgba(0,188,108, 0.6)
    ),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/healthyveggies.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image-2 {
  background:
    linear-gradient(
    rgba(61,29,144, 0.6),
    rgba(61,29,144, 0.6)
    ),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/youtube-small.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image-3 {
  background:
    linear-gradient(
    rgba(0,188,108, 0.6),
    rgba(0,188,108, 0.6)
    ),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/bankr.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image-4 {
  background:
    linear-gradient(
    rgba(0,188,108, 0.6),
    rgba(0,188,108, 0.6)
    ),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/slackr.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image-5 {
  background:
    linear-gradient(
    rgba(0,188,108, 0.6),
    rgba(0,188,108, 0.6)
    ),
    url(https://media.giphy.com/media/3o85gd3noLuSkE4Lkc/giphy.gif);
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image-6 {
  background:
    linear-gradient(
    rgba(0,188,108, 0.6),
    rgba(0,188,108, 0.6)
    ),
    url(https://s3.amazonaws.com/wills-videogames/videogames/images/000/000/007/medium/Super_Mario_Bros._box.png?1473198334);
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image-7 {
  background:
    linear-gradient(
    rgba(0,188,108, 0.6),
    rgba(0,188,108, 0.6)
    ),
    url(https://s3-us-west-2.amazonaws.com/portfolio-will/images/job-board.png);
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.project-image-8 {
  background:
    linear-gradient(
    rgba(0,188,108, 0.6),
    rgba(0,188,108, 0.6)
    ),
    url(http://s3.amazonaws.com/recipes-for-will/recipes/images/000/000/006/medium/roasted-red-pepper-tortilla-soup-1.jpg?1472179012);
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}


.overlay h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}


/******************* MEDIA QUERIES *************/



@media screen and (max-width: 992px) {
  #project__container h1 {
     font-size: 2.8em;
     padding: 30% 0 5% 0%;
   }
   #project__container h1 {
     font-size: 3em;
   }
   #project__container {
     padding: 0 10% 5% 10%;
   }
}

@media screen and (max-width: 768px) {
  #project__container h1 {
    font-size: 2.2em;
   }
}

@media screen and (max-width: 576px) {
  #project__container h1 {
     font-size: 2em;
     padding: 45% 0 5% 0;
   }
  #project__container {
    padding: 0 5% 5% 5%;
  }
}


@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .cell {
    width: calc(100% / 2);
  }
}
