@import '../variables';

.recipes__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(218,26,158, 0.5) 30%, rgb(218,26,158)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/recipe-large.jpeg");
  background-position: 50% 80%;
}

.recipes__bg__main {
  background: linear-gradient(rgb(218,26,158) 30%, rgba(218,26,158, 1));
}

.recipes__hero__container {
  background: linear-gradient(rgb(218,26,158) 30%, rgba(218,26,158, 1));
}

@media screen and (max-width: 576px) {
  .recipes__bg__image {
    height: 80vh !important;
  }
}
