@import '../variables';

.retro-video-games__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  background: linear-gradient(rgba(93,148,251, 0.5) 30%, rgb(93,148,251)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/retro-games.jpg");
  background-position: 50% 100%;
}

.retro-video-games__bg__main {
  background: linear-gradient(rgb(93,148,251) 30%, rgba(93,148,251, 1));
}

.retro-video-games__hero__container {
  background: linear-gradient(rgb(93,148,251) 30%, rgba(93,148,251, 1));
}

@media screen and (max-width: 576px) {
  .retro-video-games__bg__image {
    height: 80vh !important;
  }
}
