@import '../variables';

.slackr__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(77,57,75, 0.5) 30%, rgb(77,57,75)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/slackr.png");
  background-position: 50% 65%;
}

.slackr__bg__main {
  background: linear-gradient(rgb(77,57,75) 30%, rgba(77,57,75, 1));
}

.slackr__hero__container {
  background: linear-gradient(rgb(77,57,75) 30%, rgba(77,57,75, 1));
}

@media screen and (max-width: 576px) {
  .slackr__bg__image {
    height: 80vh !important;
  }
}
