@import '../variables';

.undefined-drillz__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(62, 218, 26, 0.5) 30%, rgb(62, 218, 26)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/drillz.jpg");
  background-position: 50% 95%;
}

.undefined-drillz__bg__main {
  background: linear-gradient(rgb(62, 218, 26) 30%, rgba(62, 218, 26, 1));
}

.undefined-drillz__hero__container {
  background: linear-gradient(rgb(62, 218, 26) 30%, rgba(62, 218, 26, 1));
}

@media screen and (max-width: 576px) {
  .undefined-drillz__bg__image {
    height: 80vh !important;
  }
}
