@import '../variables';

.you-tube__bg__image {
  position: relative;
  top: -150px;
  padding-top: 150px;
  margin-bottom: -200px;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(102, 0, 153, 0.5) 30%, rgb(102, 0, 153)),
    url("https://s3-us-west-2.amazonaws.com/portfolio-will/images/youtube.jpg");
  background-position: 50% 95%;
}

.you-tube__bg__main {
  background: linear-gradient(rgb(102, 0, 153) 30%, rgba(102, 0, 153, 1));
}

@media screen and (max-width: 576px) {
  .you-tube__bg__image {
    height: 80vh !important;
  }
}
