@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, .root {
  height: 100vh; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: "Avenir Next", "Avenir", sans-serif; }

body, .app {
  background: #fff; }

.app {
  display: flex; }

/*  SIDEBAR */
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/* hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* Transform hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff; }

/* hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/* last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px); }

/* Make this absolute positioned at the top left of the screen */
#menu {
  position: absolute;
  width: 300px;
  height: 100vh;
  margin: -77px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: teal;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* 👆🏻 stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/* fade it in from the left */
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1; }

a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  a:hover {
    color: #fff; }

#home {
  display: flex;
  background: #fff;
  order: 1;
  -ms-align-items: flex-end;
  align-items: flex-end;
  width: 100vw;
  flex-flow: row; }

#home header {
  position: relative; }

#stripes {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  transform: skewY(-12deg);
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%); }

#stripes, #stripes span {
  position: absolute; }

@media (min-width: 880px) {
  #stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: #53f; } }

@media (min-width: 670px) {
  #stripes :nth-child(1) {
    top: 0;
    background: #4750ff; } }

@media (min-width: 880px) {
  #stripes :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff; } }

@media (min-width: 670px) {
  #stripes :nth-child(2) {
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: #0dcfff; } }

@media (min-width: 880px) {
  #stripes :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff; } }

@media (min-width: 670px) {
  #stripes :nth-child(3) {
    width: 33.33333%;
    right: auto;
    background: #11bdff; } }

@media (min-width: 880px) {
  #stripes :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #25ddf5; } }

@media (min-width: 880px) {
  #stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff; } }

@media (min-width: 880px) {
  #stripes span {
    height: 190px; } }

@media (min-width: 880px) {
  #intro {
    height: 760px; } }

@media (min-width: 670px) {
  #intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 600px; } }

#intro {
  position: relative; }

@media (min-width: 670px) {
  #intro .container-lg {
    margin-top: -7%;
    padding-top: 0;
    padding-bottom: 0; } }
