@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, .root {
  height: 100vh; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: "Avenir Next", "Avenir", sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

body, .app {
  background: black; }

.app {
  display: flex; }

/*
#########################################
            Side Nav
#########################################
*/
#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  position: fixed; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/* hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* Transform hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff; }

/* hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/* last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px); }

/* Make this absolute positioned at the top left of the screen */
#menu {
  position: absolute;
  width: 300px;
  margin: -77px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: teal;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* 👆🏻 stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  margin-bottom: -5000px;
  /* any large number will do */
  padding-bottom: 5000px;
  overflow: hidden; }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/* fade it in from the left */
#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1; }

a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  a:hover {
    color: #fff; }

/*
###########################
            Typography
###########################
*/
/*
#########################################
            Home Component 🏚 
#########################################
*/
.home__hero {
  display: flex;
  padding: 100px 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skew(0deg, -10deg) translateY(-140px);
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  -webkit-animation: pulseBackground 30s infinite;
  animation: pulseBackground 30s infinite;
  z-index: 1; }

/* to get rid of flash, make last color === first color */
@-webkit-keyframes pulseBackground {
  0% {
    background: #f44336; }
  25% {
    background: #e91e63; }
  50% {
    background: #9c2780; }
  75% {
    background: #673ab7; }
  100% {
    background: #f44336; } }

@keyframes pulseBackground {
  0% {
    background: #f44336; }
  25% {
    background: #e91e63; }
  50% {
    background: #9c2780; }
  75% {
    background: #673ab7; }
  100% {
    background: #f44336; } }

/*
##################################################
            I wanna be a real HERO 🤘🏻
#################################################
*/
.container__hero {
  padding: 350px 200px;
  transform: skew(0deg, 10deg); }

.container__hero h1 {
  display: flex;
  justify-content: center;
  color: teal;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 teal, 0 0 10rem rgba(255, 255, 255, 0.4);
  font-size: 5em;
  text-shadow: 10px 10px 0px rgba(0, 0, 0, 0.17);
  margin: -50px 0 -50px 0;
  padding: 0; }

container__hero p {
  font-size: 1em;
  margin: 0; }

/*
######################
          Particles ⚪️ ⚪️
######################
*/
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transform: skew(0deg, 10deg) translateY(140px); }

.particles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -100px;
  -webkit-animation: circle 20s infinite;
  animation: circle 20s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-radius: 50%;
  transform: skew(0deg, 10deg) translateY(140px);
  transform-origin: 0; }

.particles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%; }

.particles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s; }

.particles li:nth-child(3) {
  width: 10px;
  height: 10px;
  left: 60%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s; }

.particles li:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 80%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 22s;
  animation-duration: 22s; }

.particles li:nth-child(5) {
  width: 50px;
  height: 50px;
  left: 50%;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s; }

@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-1080px) rotate(630deg);
    transform: translateY(-1080px) rotate(630deg); } }

@keyframes circle {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-1080px) rotate(630deg);
    transform: translateY(-780px) rotate(630deg); } }
